#context {
    margin-top: 3%;
}

#decompressing {
    margin-left: 3%;
    border-radius: 5%;
    min-height: 450px;
}

#canvas {
    border-radius: 5%;
    min-height: 200px;
    border: 1px solid khaki;
    width: 100%;
}

th, td {
    text-align: center;
}

#selectManufactureDiv {
    min-height: 50px;
}

#selectManufacture {
    height: 30px;
    background-color: white;
    border-radius: 4%;
}

#myModalLabel {
    text-align: center;
}

.modal-body {
    margin-left: 60%;
}

#form {
    text-align: center;
}

.modal-dialog {
    width: 30%;
}