*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffeee;
}

#contanier {
    margin-left: 12%;
    margin-right: 12%;
}

#logo {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#logo img {
    border-radius: 50%;
    height: 5em;
    width: 5em;
}

#name {
    margin-top: 3%;
    font-size: 2em;
}

#search {
    margin-top: 4%;
}

#content {
    background-color: white;
    min-height: 500px;
}

#footer {
    text-align: center;
    height: 100px;
    background-color: #323436;
    color:#999;
    margin-top: 30px;
}