#context{
    min-height: 450px;
}

#right {
    margin-left: 5%;
    border: 1px solid khaki;
    border-radius: 5%;
    min-height: 450px;
}

#firmwareLists{
    margin-top: 10px;
    width: 100%;
    overflow: scroll;
    min-height: 450px;
}

li{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
}

#selectManufactureDiv {
    min-height: 50px;
    margin-top: 20px;
}

#selectManufacture {
    height: 30px;
    background-color: gray;
    border-radius: 4%;
    color: black;
}

#selectManufacture option{
    color: black;
}

li{
    margin-bottom: 10px;
}

a{
    /*color: black;*/
    margin-left: 5px;
}

a:hover{
    text-decoration: none;
}