#context{
    min-height: 450px;
}

#right {
    margin-left: 5%;
    border: 1px solid khaki;
    border-radius: 5%;
    min-height: 450px;
}

#firmwareLists{
    margin-top: 10px;
    width: 100%;
    overflow: scroll;
    height: 450px;
}

li{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
}

#selectManufactureDiv {
    min-height: 50px;
    margin-top: 20px;
}

#selectManufacture {
    height: 30px;
    background-color: gray;
    border-radius: 4%;
    color: black;
}

#selectManufacture option{
    color: black;
}

li{
    margin-bottom: 10px;
}

a{
    /*color: black;*/
    margin-left: 5px;
}

a:hover{
    text-decoration: none;
}

#uploadForm {
    border: 2px dashed #ccc;
    height: 100px;
    /*width: 400px;*/
    text-align: center;
}


#uploadForm.over {
    width: 400px;
    height: 100px;
    border: 2px dashed red;
}

#file {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;
}

#uploadA {
    display: inline-block;
    position: relative;
    margin-top: 5px;
}

.header{
    text-align: center;
    margin-bottom: 30px;
}

#samples{
    border: solid 1px gray;
    border-radius: 2%;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}

#samples{
    margin-left: 20px;
    width: 200px;
    height: 350px;
}

#samples a{
    color: gray;
}

#samples a:hover{
    color: white;
}

.sample{
    width: 200px;
    overflow: hidden;
    text-overflow:ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.inline{
    display: inline-block;
}

#downloadDiv{
    margin-left: 45%;
}