#content {
    min-height: 800px;
    background-color: #3a3a4f;
}

#context {
    min-height: 720px;
}

#left {
    margin-right: 10px;
    border: 1px solid khaki;
    border-radius: 2%;
}

.demoDiv {
    width: 100%;
}

.demo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    float: left;
    width: 88px;
    height: 68px;
}

.clear {
    clear: both;
}

#center {
    margin-right: 30px;
}

#right {
    border: 1px solid khaki;
    border-radius: 2%;
    width: 255px;
}

.pieChart {
    display: inline-block;
    width: 24%;
    height: 250px;
}

.manufactureTop {
    margin-top: 10px;
    width: 100%;
}

.centerLineChart {
    margin-top: 50px;
}

#lineChart {
    width: 99%;
    height: 380px
}

.top {
    width: 100%;
    background-color: black;
    height: 30px;
}

.top > li {
    display: inline-block;
    width: 60px;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.top > li:hover {
    cursor: pointer;
    color: gray;
}

.leftTitle{
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #3a3a4f;
    color: white;
}

#contanier {
    margin-left: 2%;
    margin-right: 2%;
}

#title{
    color: white;
}

#footer{
    text-align: center;
    height: 50px;
    margin-bottom: 0px;
}
