#context{
    margin-left: 20%;
    width: 50%;
}

.crackInput{
    margin-top: 80px;
}

.crackName{
    margin-bottom: 10px;
}

.selectDic{
    margin-top: 30px;
    margin-bottom: 30px;
}

.selectDictionary{
    border: solid 1px lightgray;
    margin-top: 10px;
    height: 80px;
}

.selectDictionaryList{
    margin:15px;
}

.crackProgress{
    margin-top: 20px;
}