<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>固件深度分析与检测平台</title>
    <link rel="icon" href="../images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="../css/common.css" rel="stylesheet" type="text/css"/>
    <link href="../css/nav.css" rel="stylesheet" type="text/css"/>
    <link href="../css/backgroundMonitoring.css" rel="stylesheet" type="text/css"/>

    <script src="../js/backgroundMonitoring.js"></script>
</head>
<body>
<div id="contanier">
    <div class="contanier">
        <div class="row">
            <div id="logo" class="col-md-1">
                <img src="../images/logo.jpg">
            </div>
            <div id="name" class="col-md-6">
                固件深度分析与检测平台
            </div>
            <div id="search" class="col-md-4">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="请输入">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div id="nav">
        <ul class="list">
            <li><a href="#">固件样本收集</a></li>
            <li><a href="#">固件信息识别</a></li>
            <li><a href="#">固件弱密码暴力破解</a></li>
            <li><a href="#">固件关联分析</a></li>
        </ul>
    </div>
    <div id="content">
        <hr>
        <div id="context" class="contanier">
            <div id="selectManufactureDiv">
                <select id="selectManufacture">
                    <option selected>请选择厂商</option>
                    <option>360</option>
                    <option>360</option>
                </select>
            </div>
            <div id="chart">
                <canvas id="canvas" width="1600px" height="600px" style="width: 800px;height:300px;"></canvas>
            </div>
        </div>
        <div id="decompressing">
            <table class="table table-bordered table-responsive">
                <caption>正在解压</caption>
                <thead>
                <tr>
                    <th>厂商</th>
                    <th>固件名</th>
                    <th>解压节点</th>
                    <th>PID</th>
                    <th>解压开始时间</th>
                    <th>解压持续时间</th>
                    <th>杀死进程</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
    <hr>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    是否杀死进程？
                </h4>
            </div>
            <div class="modal-body">
                <input type="checkbox" id="deleteFirmware"/>
                <label for="deleteFirmware">同时删除固件</label>
            </div>
            <div class="modal-footer">
                <form id="form">
                    <button type="submit" class="btn btn-danger">
                        确定
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div>固件深度分析与检测平台版权所有</div>
</div>
</body>
</html>