<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>固件深度分析与检测平台</title>
    <link rel="icon" href="../images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="../css/common.css" rel="stylesheet" type="text/css"/>
    <link href="../css/nav.css" rel="stylesheet" type="text/css"/>
    <link href="../css/displayFirmware.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="contanier">
    <div class="contanier">
        <div class="row">
            <div id="logo" class="col-md-1">
                <img src="../images/logo.jpg">
            </div>
            <div id="name" class="col-md-6">
                固件深度分析与检测平台
            </div>
            <div id="search" class="col-md-4">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="请输入">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div id="nav">
        <ul class="list">
            <li><a href="#">固件样本收集</a></li>
            <li><a href="#">固件信息识别</a></li>
            <li><a href="#">固件弱密码暴力破解</a></li>
            <li><a href="#">固件关联分析</a></li>
        </ul>
    </div>
    <div id="content">
        <hr>
        <div id="context" class="contanier">
            <div class="row">
                <div id="left" class="col-sm-2">
                    <div class="title"><p><b>厂商目录</b></p></div>
                    <hr>
                    <div class="manufacturer">
                        <a href="#"><p><b>a</b></p></a>
                    </div>
                    <div class="manufacturer">
                        <a href="#"><p><b>b</b></p></a>
                    </div>
                </div>
                <div id="right" class="col-sm-9">
                    <div class="firmware">
                        <a href="">哈哈</a>
                    </div>
                    <div class="firmware">
                        <a href="">哈哈</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<div id="footer">
    <div>固件深度分析与检测平台版权所有</div>
</div>
</body>
</html>