<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>固件深度分析与检测平台</title>
    <link rel="icon" href="../images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="../css/common.css" rel="stylesheet" type="text/css"/>
    <link href="../css/nav.css" rel="stylesheet" type="text/css"/>
    <link href="../css/firmwareAssociation.css" rel="stylesheet" type="text/css"/>

    <script src="../js/firmwareAssociation.js"></script>
</head>
<body>
<div id="contanier">
    <div class="contanier">
        <div class="row">
            <div id="logo" class="col-md-1">
                <img src="../images/logo.jpg">
            </div>
            <div id="name" class="col-md-6">
                固件深度分析与检测平台
            </div>
            <div id="search" class="col-md-4">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="请输入">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div id="nav">
        <ul class="list">
            <li><a href="../index.html">首页</a></li>
            <li><a href="#">固件浏览</a></li>
            <li><a href="#">弱口令破解</a></li>
            <li><a href="#" style="color: gray">漏洞关联</a></li>
            <li><a href="#">固件库管理</a></li>
        </ul>
    </div>
    <div id="content">
        <hr>
        <div id="information" style="display: flex;justify-content: center">
            <div id="centerBlock">
                <div class="analysis">
                    <input type="text" id="analysisInput" class="input" placeholder="IP、域名、文件">
                    <span><button class="btn btn-default btn-lg" id="submit"><img
                            src="../images/上传.png"></button></span>
                    <span><button class="btn btn-default btn-lg" data-toggle='modal' data-target='#myModal'>计算指纹</button></span>
                </div>
                <div class="displaySubmit">
                    <div style="position: relative;width:158px;height: 43px;border: 1px solid #cacbcc;margin: 0 auto;margin-top: 50px">
                        <input type="file" class="upload-pic">
                        <span style="width: 30px;height: 40px;display: inline-block;margin-top: 10px;vertical-align:middle"><img
                                src="../images/上传.png"></span>
                        <span style="width: 60px;height: 40px;display: inline-block;">本地上传</span>
                    </div>
                    <div style="text-align: right;margin-top: 20px;margin-right: 20px">
                        <span id="close" style="cursor: pointer"><img src="../images/X.png"></span>
                    </div>
                </div>
            </div>
            <div class="associationBtn">
                <button class="btn btn-primary" id="assBtn">关联</button>
                <button class="btn btn-danger">取消关联</button>
            </div>
            <div class="crackProgress">
                <span>关联进度：</span>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: 50%;">
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    计算的指纹为：
                </h4>
            </div>
            <div class="modal-body">
                <p>密码</p>
            </div>
            <div class="modal-footer">
                <form id="form">
                    <button type="submit" class="btn btn-danger">
                        复制
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div>固件深度分析与检测平台版权所有</div>
</div>
</body>
</html>