<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>固件深度分析与检测平台</title>
    <link rel="icon" href="../images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

    <script src="http://www.jq22.com/jquery/jquery-ui-1.11.0.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">

    <link href="../css/common.css" rel="stylesheet" type="text/css"/>
    <link href="../css/nav.css" rel="stylesheet" type="text/css"/>
    <link href="../css/firmwareAssociationInformation.css" rel="stylesheet" type="text/css"/>

    <script src="../js/firmwareAssociationInformation.js"></script>
    <script src="../js/commonChart.js"></script>

</head>
<body>
<div id="contanier">
    <div class="contanier">
        <div class="row">
            <div id="logo" class="col-md-1">
                <img src="../images/logo.jpg">
            </div>
            <div id="name" class="col-md-6">
                固件深度分析与检测平台
            </div>
            <div id="search" class="col-md-4">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="请输入">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div id="nav">
        <ul class="list">
            <li><a href="../index.html">首页</a></li>
            <li><a href="firmware.html">固件浏览</a></li>
            <li><a href="passwordViolentCrack.html">弱口令破解</a></li>
            <li><a href="#" style="color: gray">漏洞关联</a></li>
            <li><a href="backgroundMonitoring.html">固件库管理</a></li>
        </ul>
    </div>
    <div id="content">
        <hr>
        <div id="context">
            <div class="row">
                <div id="left" class="col-sm-8">
                    <div style="margin-top: 5px;margin-left: 20px">
                        <div id="uploadForm" dropEffect="link">
                            <h5>拖拽上传文件或者</h5>
                            <a id="uploadA">
                                <u>点击上传</u>
                                <input type="file" id="file"/>
                            </a>
                            <div id="fileInformation"></div>
                        </div>
                    </div>
                    <br>
                    <div id="samplesAndContainers">
                        <div id="samples" class="inline">
                            <div class="header">
                                <h4>samples</h4>
                            </div>
                            <div class="sampleList">
                                <div class="sample" number="1"><a href="#">360--360POP_P1_beta_V1.0.11--busybox</a></div>
                                <div class="sample" number="2"><a href="#">360--360POP_P1_beta_V1.0.11--iptables</a></div>
                                <div class="sample" number="3"><a href="#">360--360POP_P1_beta_V1.0.11--iwlist</a></div>
                                <div class="sample" number="4"><a href="#">NetGear--WNR834bBv2_2_1--udhcpd</a></div>
                                <div class="sample" number="5"><a href="#">NetGear--WNR834bBv2_2_1--pptp</a></div>
                                <div class="sample" number="6"><a href="#">NetGear--WNR834bBv2_2_1--nas</a></div>
                                <div class="sample" number="7"><a href="#">NetGear--WNR834bBv2_2_1--gpio</a></div>
                                <div class="sample" number="8"><a href="#">Schneider--homeLYnk_FW_V.1.3.0--opkg</a></div>
                                <div class="sample" number="9"><a href="#">Schneider--homeLYnk_FW_V.1.3.0--vsftpd</a></div>
                                <div class="sample" number="10"><a href="#">Schneider--homeLYnk_FW_V.1.3.0--uhttpd</a></div>
                                <div class="sample" number="11"><a href="#">Schneider--homeLYnk_FW_V.1.3.0--mtd</a></div>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <div id="containers" class="inline" style="width: auto;height:350px"></div>
                        </div>
                    </div>
                </div>
                <div id="right" class="col-sm-3">
                    <div id="selectManufactureDiv">
                        <select id="selectManufacture" class="inline">
                            <option selected>请选择厂商</option>
                        </select>
                        <div id="downloadDiv" class="inline">
                        </div>
                    </div>
                    <div id="firmwareLists">
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
</body>
</html>