<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>固件深度分析与检测平台</title>
    <link rel="icon" href="../images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-ui-1.11.0.js"></script>

    <link href="../css/common.css" rel="stylesheet" type="text/css"/>
    <link href="../css/nav.css" rel="stylesheet" type="text/css"/>
    <link href="../css/firmware.css" rel="stylesheet" type="text/css"/>
    <script src="../js/firmware.js"></script>
    <script src="../js/a.js"></script>

</head>
<body>
<div id="contanier">
    <div class="contanier">
        <div class="row">
            <div id="logo" class="col-md-1">
                <img src="../images/logo.jpg">
            </div>
            <div id="name" class="col-md-10">
                固件深度分析与检测平台
            </div>
        </div>
    </div>
    <div id="nav">
        <ul class="list">
            <li><a href="../index.html">首页</a></li>
            <li><a href="#" style="color: gray">固件浏览</a></li>
            <li><a href="passwordViolentCrack.html">弱口令破解</a></li>
            <li><a href="firmwareAssociationInformation.html">漏洞关联</a></li>
            <li><a href="backgroundMonitoring.html">固件库管理</a></li>
        </ul>
    </div>
    <div id="content">
        <hr>
        <div id="context" class="contanier">
            <div id="left" class="inlineBlock">
                <div id="search">
                    <div class="select">
                        <select>
                            <option>厂商</option>
                            <option>文件</option>
                            <option>MD5</option>
                        </select>
                    </div>
                    <div class="searchInput">
                        <input type="text" placeholder="请输入">
                        <span><a href="#"><span class="glyphicon glyphicon-search"></span></a></span>
                    </div>
                </div>
                <div id="firmware">
                    <div id="default_tree"></div>
                </div>
            </div>
            <div id="firmwareInformation" class="inlineBlock">
                <div>
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#general" data-toggle="tab">
                                基础信息
                            </a>
                        </li>
                        <li><a href="#contents" data-toggle="tab">弱口令</a></li>
                        <li><a href="#entropy" data-toggle="tab">开源组件</a></li>
                        <li><a href="#loopholes" data-toggle="tab">疑似漏洞</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="general">
                            <div id="table">
                                <div class="div">
                                    <div class="divTag tdTag">固件名</div>
                                    <div id="firmwareName" class="divTag tdVul"></div>
                                </div>
                                <div class="div">
                                    <div class="divTag tdTag">路径</div>
                                    <div id="firmwarePath" class="divTag tdVul"></div>
                                </div>
                                <div class="div">
                                    <div class="divTag tdTag">MD5</div>
                                    <div id="firmwareMD5" class="divTag tdVul"></div>
                                </div>
                                <div class="div">
                                    <div class="divTag tdTag">大小</div>
                                    <div id="firmwareBig" class="divTag tdVul"></div>
                                </div>
                                <div class="div">
                                    <div class="divTag tdTag">操作系统</div>
                                    <div id="firmwareSystem" class="divTag tdVul"></div>
                                </div>
                                <div class="div">
                                    <div class="divTag tdTag">指令集</div>
                                    <div id="firmwareInstruction" class="divTag tdVul"></div>
                                </div>
                                <div class="div">
                                    <div class="divTag tdTag">入库时间</div>
                                    <div id="firmwareTime" class="divTag tdVul"></div>
                                </div>
                            </div>
                            <div class="tab-list" style="margin-top: 20px;margin-left: 70%">
                                <button class="btn btn-danger">下载</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contents">
                            <div>
                                <span>开源组件搜索</span><span><img src="../images/sousuo.png"></span>
                            </div>
                            <div>
                                <span>etc/passwd、etc/shadow 破解</span><span><img src="../images/yaoshi.png"></span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="entropy">
                            <p>Compressed yes</p>
                            <p>Encrypted no</p>
                        </div>
                        <div class="tab-pane fade" id="loopholes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<!--<div id="footer">-->
    <!--<div>固件深度分析与检测平台版权所有</div>-->
<!--</div>-->
</body>
</html>