<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>固件深度分析与检测平台</title>
    <link rel="icon" href="../images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="../css/common.css" rel="stylesheet" type="text/css"/>
    <link href="../css/nav.css" rel="stylesheet" type="text/css"/>
    <link href="../css/passwordViolentCrack.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="contanier">
    <div class="contanier">
        <div class="row">
            <div id="logo" class="col-md-1">
                <img src="../images/logo.jpg">
            </div>
            <div id="name" class="col-md-6">
                固件深度分析与检测平台
            </div>
            <div id="search" class="col-md-4">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="请输入">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div id="nav">
        <ul class="list">
            <li><a href="#">固件样本收集</a></li>
            <li><a href="#">固件信息识别</a></li>
            <li><a href="#">固件弱密码暴力破解</a></li>
            <li><a href="#">固件关联分析</a></li>
        </ul>
    </div>
    <div id="content">
        <hr>
        <div id="context">
            <div class="crackInput">
                <div class="crackName">
                    <span>破解名：</span>
                </div>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="请输入要破解的文件">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <div class="selectDic">
                <span>选择字典：</span>
                <div class="selectDictionary">
                    <div class="selectDictionaryList">
                        <div>
                            <label for="zidian1">字典1</label><input type="checkbox" id="zidian1"/>
                            <span>这是字典1的描述</span>
                        </div>
                        <div>
                            <label for="zidian2">字典2</label><input type="checkbox" id="zidian2"/>
                            <span>这是字典2的描述</span>
                        </div>
                        <div>
                            <label for="zidian3">字典3</label><input type="checkbox" id="zidian3"/>
                            <span>这是字典3的描述</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-default">开始破解</button>
                <button class="btn btn-default">结束破解</button>
            </div>
            <div class="crackProgress">
                <span>破解进度：</span>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: 50%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<div id="footer">
    <div>固件深度分析与检测平台版权所有</div>
</div>
</body>
</html>